/* レスポンシブ */
.sp {
  display: block;
}

@media (min-width: 769px) {
  .sp {
    display: none !important;
  }
}

.pc {
  display: none;
}

@media (min-width: 769px) {
  .pc {
    display: block;
  }
  .flex__item--pc {
    display: flex;
    justify-content: space-between;
  }
  .container {
    width: 100%;
  }
}

/* 共通 */
body {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* display flex */
.flex__item {
  display: flex;
  justify-content: space-between;
}

/* 各項目の内枠幅調整 */
.container {
  max-width: 1024px;
  width: 85%;
  margin: 0 auto;
  padding: 70px 0;
}

/* 各タイトルの下余白調整 */
.common__ttl {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* ボタン */
.button__container {
  text-align: center;
  margin: 40px 0;
}

.btn {
  display: inline-block;
  width: 300px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #bf4532;
}

/* ホバーアクション */
.link:hover {
  opacity: 60%;
  transition: 0.3s;
}

/* ヘッダー */
.header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: white;
  align-items: center;
  padding: 10px 30px;
}

.header__logo {
  width: 70px;
}

.header__nav-list {
  font-weight: bold;
}

.header__nav-list li:not(:last-child) {
  margin-right: 30px;
}

/* ハンバーガー */
.nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  background: white;
  color: #2e4dcb;
  transition: 0.7s;
  text-align: center;
}
.nav ul {
  padding-top: 80px;
}
.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  transform: translateX(100%);
}

/* ファーストビュー */
.firstview {
  background: url(../img/mv.png) no-repeat center/ cover;
  height: 23vh;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstview__content {
  text-align: center;
}

.firstview__ttl {
  font-size: 2rem;
}

/* ニュース */

.news__list {
  display: flex;
  flex-direction: column;
}

.news__item {
  border: 1px solid black;
  margin: 5px 0;
  padding: 10px;
  font-size: smaller;
}

@media (min-width: 769px) {
  .news__item {
    padding: 20px;
    font-size: medium;
  }
}

.news__txt {
  margin-left: 10px;
  font-weight: bold;
}

/* お問い合わせー */
.contact {
  background-color: #f5f6f9;
  text-align: center;
}

.contact__txt {
  margin-bottom: 20px;
}

/* フッター */
.footer {
  background-color: black;
  color: white;
  font-size: smaller;
}

.footer__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  align-items: center;
}

.footer__nav li {
  margin: 10px 0;
}

@media (min-width: 769px) {
  .footer__nav li:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
  }
}

@media (min-width: 543px) {
  .footer__container {
    display: flex;
    justify-content: space-evenly;
  }
  .footer__nav {
    margin: 0 70px;
  }
}
